apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: {{ .Values.backend.image }}
        ports:
          - containerPort: {{ .Values.backend.port }}
        env:
          - name: MONGO_URI
            valueFrom:
              secretKeyRef:
                  name: {{ .Values.secrets.backend.secretName }}
                  key: {{ .Values.secrets.backend.mongoUriSecretKey }}
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secrets.backend.secretName }}
                key: {{ .Values.secrets.backend.jwtTokenSecretKey }}
          - name: NODE_ENV
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: node-env
          - name: PORT
            valueFrom:
              configMapKeyRef:
                name: backend-config
                key: port
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
        readinessProbe:
          httpGet:
            path: /health
            port: {{ .Values.backend.port }}
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /health
            port: {{ .Values.backend.port }}
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 5