apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: shopsohere
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: princewillopah2/shopsohere-frontend:3.0
          ports:
            - containerPort: 80