apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: shopsohere
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:6
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-k8s-secret
              key: username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-k8s-secret
              key: password

---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-service-kubectl
  namespace: shopsohere
spec:
  selector:
    app: mongodb
  ports:
  - port: 27017
    targetPort: 27017